.view {
    position: relative;
    overflow-y: visible;
}

.view > div {
    overflow-y: auto;
    display: none;

    &:first-child {
        overflow-y: visible;
        display: auto;
    }
}


.scrollButton {
    $size: 38rem;    

    position: absolute;    
    bottom: 60rem;    
    height: $size;
    width: $size;
    font-size: 4em;
    
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    mask-size: contain;
    mask-position: center;
    backdrop-filter: blur(3px);
    pointer-events: auto;
    transition: opacity 0.2s;

    &:hover {
        opacity: 1;
    }

    &.scrollRight {
        right: -$size;
        mask-image: url(coui://gameui/Media/Glyphs/ArrowRight.svg);
    }
    &.scrollLeft {
        left: -$size;
        mask-image: url(coui://gameui/Media/Glyphs/ArrowLeft.svg);
    }
    &[data-hidden="true"] {
        visibility: hidden;
    }
}

