@use "../../base.scss" as _base;

.container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.searchArea {
  flex: 1;
  position: relative;
  margin: 0 8rem;
}

.placeholder {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translate(0, -50%);
}

.clearIcon,
.searchIcon {
  height: 24rem;
  width: 24rem;
  padding: 0.5rem;
  background: none;
  position: absolute;
  top: 50%;
  right: 3.2rem;
  transform: translate(0, -50%);
  img {
    height: 22rem;
    width: 22rem;
    background-color: var(--menuText1Normal);
    mask-size: contain;
    mask-position: 50% 50%;
  }
}
.searchIcon {
  pointer-events: none;
}

.textBox {
  @include _base.textInputBasic();
}
