@use "../../base.scss" as base;

.container {
  height: base.$bottomBarHeight + base.$laneButtonSize + 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button {
  position: relative;
  width: base.$laneButtonSize;
  height: 192rem; //base.$laneButtonSize;

  transition: transform 0.2s;
  margin: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .imageContainer {
    height: 222rem;
    width: 100%;
    overflow: hidden;
  }

  img {
    height: 320rem;
    position: absolute;
    top: 0;
    transition: width 0.25s, height 0.25s;
  }

  .inverted {
    transform: scale(-1, 1);
  }

  &:hover {
    //transform: scale(1.05);

    & .closeButton {
      display: flex;

      animation: closeButton-enter 0.1s;
    }
  }

  &.dragging {
    img {
      opacity: 0.75;
      width: 65%;
      height: 65%;
    }
  }
}

.closeButton {
  display: none;
  position: absolute;
  right: -18rem;
  top: -18rem;

  background-color: #ff0000;
  border-radius: 50%;
  width: 24rem;
  height: 24rem;

  align-items: center;
  justify-content: center;

  img {
    filter: invert(1);
  }
}

@keyframes closeButton-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.informationBar {
  height: base.$bottomBarHeight;
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: var(--normalTextColor);
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.8em;

  border: 1rem solid rgba(225, 225, 225, 0.2);
  border-width: 0 1rem;

  .laneName {
    height: 40%;
    padding: 4rem 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1lh;
    text-align: center;
  }

  .laneDesign {
    height: 60%;
    background-color: rgb(35, 35, 35);

    > div {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;
    }

    .arrow {
      height: 24rem;
      width: 24rem;
      mask-size: 100%;
      background-color: #fff;
      margin-top: 4rem;
      filter: drop-shadow(0px 0px 5rem rgba(0, 0, 0, 1));

      &.up {
        mask-image: url(coui://roadbuildericons/RB_Arrow.svg);
      }

      &.down {
        mask-image: url(coui://roadbuildericons/RB_ArrowDown.svg);
      }

      &.twoway {
        mask-image: url(coui://roadbuildericons/RB_ArrowBoth.svg);
      }
    }

    .tiled {
      background-image: url(coui://roadbuildericons/RB_TileSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 58rem 58rem;
    }

    .train {
      background-image: url(coui://roadbuildericons/RB_GravelSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 29rem 29rem;
    }

    .gravel {
      background-image: url(coui://roadbuildericons/RB_GravelSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 38.66rem 38.66rem;
    }

    .bus {
      background-image: url(coui://roadbuildericons/RB_AsphaltSeamless_15.svg);
      background-repeat: repeat repeat;
      background-size: 19.33rem 19.33rem;
    }

    .asphalt {
      background-image: url(coui://roadbuildericons/RB_AsphaltSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 19.33rem 19.33rem;
    }
  }
}

.container:nth-child(2) .informationBar {
  border-left: 2rem solid rgba(225, 225, 225, 0.1);
}
