@use "../../base.scss" as base;

.container {
  height: base.$bottomBarHeight + base.$laneButtonSize + 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button {
  position: relative;
  width: base.$laneButtonSize;
  height: base.$laneButtonSize;

  transition: transform 0.2s;
  margin: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*img {
    width: 80%;
    height: 80%;
  }*/

  .inverted {
    transform: scale(-1, 1);
  }

  &:hover {
    transform: scale(1.05);

    & .closeButton {
      display: flex;

      animation: closeButton-enter 0.1s;
    }
  }

  &.dragging {
    background: rgba(0, 0, 0, 0.3);
    img {
      visibility: hidden;
    }
  }
}

.closeButton {
  display: none;
  position: absolute;
  right: -18rem;
  top: -18rem;

  background-color: #ff0000;
  border-radius: 50%;
  width: 24rem;
  height: 24rem;

  align-items: center;
  justify-content: center;

  img {
    filter: invert(1);
  }
}

@keyframes closeButton-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.informationBar {
  height: base.$bottomBarHeight;
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: var(--normalTextColor);
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.8em;

  border: 1rem solid rgba(225, 225, 225, 0.2);
  border-width: 0 1rem;

  .laneName {
    height: 40%;
    padding: 4rem 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1lh;
    text-align: center;
  }

  .laneDesign {
    height: 60%;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-content: center;

    .arrow {
      height: 20rem;
      width: 20rem;
      mask-size: 100%;
      background-color: #fff;
      mask-image: url(coui://roadbuildericons/RB_Arrow.svg);
      margin-top: 6rem;

      //&.up {
      //transform: rotate(-90deg);
      //}

      &.down {
        transform: rotate(180deg);
      }
    }
  }
}

.container:nth-child(2) .informationBar {
  border-left: 2rem solid rgba(225, 225, 225, 0.1);
}
