@use "../../base.scss" as base;

.container {
  height: base.$bottomBarHeight + base.$laneButtonSize + 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button {
  position: relative;
  width: base.$laneButtonSize;
  height: 192rem; //base.$laneButtonSize;

  transition: transform 0.2s;
  margin: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .imageContainer {
    height: 222rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  img {
    height: 320rem;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: width 0.25s, height 0.25s, transform 0.25;
  }

  .inverted {
    transform: scale(-1, 1);
  }

  &.dragging {
    overflow: hidden;
    img {
      width: 85%;
      filter: grayscale(0.85);
      opacity: 0.6;
      transform: translateY(5rem);
    }
  }
}

.informationBar {
  height: base.$bottomBarHeight;
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: var(--normalTextColor);
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.8em;

  .laneName {
    height: 40%;
    padding: 4rem 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1lh;
    text-align: center;
  }

  .laneDesign {
    height: 60%;
    background-color: rgb(35, 35, 35);

    border: 1rem solid rgba(225, 225, 225, 0.75);
    border-width: 0 1rem;

    > div {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;
    }

    .arrow {
      height: 24rem;
      width: 24rem;
      mask-size: 100%;
      background-color: #fff;
      margin-top: 4rem;
      filter: drop-shadow(0px 0px 5rem rgba(0, 0, 0, 1));

      &.up {
        mask-image: url(coui://roadbuildericons/RB_Arrow.svg);
      }

      &.down {
        mask-image: url(coui://roadbuildericons/RB_ArrowDown.svg);
      }

      &.twoway {
        mask-image: url(coui://roadbuildericons/RB_ArrowBoth.svg);
      }
    }

    .tiled {
      background-image: url(coui://roadbuildericons/RB_TileSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 58rem 58rem;
    }

    .train {
      background-image: url(coui://roadbuildericons/RB_GravelSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 29rem 29rem;
    }

    .gravel {
      background-image: url(coui://roadbuildericons/RB_GravelSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 38.66rem 38.66rem;
    }

    .paintedasphalt {
      background-image: url(coui://roadbuildericons/RB_AsphaltSeamless_15.svg);
      background-repeat: repeat repeat;
      background-size: 19.33rem 19.33rem;
    }

    .asphalt {
      background-image: url(coui://roadbuildericons/RB_AsphaltSeamless.svg);
      background-repeat: repeat repeat;
      background-size: 19.33rem 19.33rem;
    }
  }
}

.edgePlaceholder .button {
  height: 64rem;

  .imageContainer {
    height: 48rem;
    width: 48rem;
    background-color: rgba(237, 214, 138, 0.25);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: inherit;
      width: 32rem;
      height: 32rem;
      background-color: #f6bd53;
      mask-size: contain;
      mask-position: 50% 50%;
      mask-image: url(coui://roadbuildericons/RB_RaisedSidewalks.svg);
    }
  }
}

.edgePlaceholder.highlighted {
  .imageContainer {
    background-color: #cf901d;

    img {
      background-color: white;
    }
  }
}
