.container {
    height: 200rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {    
    position: relative;
    width: 80rem;    
    height: 80rem;    

    transition: transform 0.2s;
    margin: 0 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);   

    img {                
        width: 80%;
        height: 80%;
    }

    &:hover {
        transform: scale(1.05);

        & .closeButton {
            display: flex;

            animation: closeButton-enter 0.1s;
        }
    }

    &.dragging {        
        background: rgba(0,0,0, 0.3);
        img {
            visibility: hidden;
        }        
    }
}

.frame {    
    position: absolute;
    left: -8rem;
    right: -8rem;
    bottom: -8rem;
    top: -8rem;

    border: 3px solid rgba($color: #fff, $alpha: 0.3);
    background-color: rgba(0, 0, 0, .2);    
    backdrop-filter: blur(8px);    
    mask-image: url('../../../images/bottom_button_border_mask.svg');        
    mask-size: 100%;
}

.closeButton {
    display: none;
    position: absolute; 
    right: -18rem;
    top: -18rem;  

    background-color: #FF0000;
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    
    align-items: center;
    justify-content: center;

    img {
        filter: invert(1);        
    }    
}

@keyframes closeButton-enter {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.informationBar {    
    flex-grow: 1;
    margin-top: 50rem;
    width: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color:  var(--normalTextColor) ;
    padding-top: 0px;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 0px;
    font-size: 0.8em;

    border-right: 2rem solid rgba(225,225,225,0.3);    

    .laneName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 1lh;
        text-align: center;
    }
}

.container:nth-child(2) .informationBar {
    border-left: 2rem solid rgba(225,225,225,0.3);
}