.view {
    position: absolute;
    width: 200rem;
    height: 160rem;    
    bottom: 120rem;      
    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    border-radius: 3rem;  
    padding: 4rem;

    display: flex;
    flex-direction: column;
    transform-origin: bottom center;

    animation: enter 0.2s;
    color: rgba($color: #FFF, $alpha: 1.0);
}

.topBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;    
    align-items: center;

    & .deleteButton {
        mask-image: url(coui://gameui/Media/Glyphs/Trash.svg);
    }
    & .closeButton {
        mask-image: url(coui://gameui/Media/Glyphs/Close.svg);
    }
    > button {        
        background-color: rgba(255,255,255, 0.7);
        mask-size: 100%;
        &:hover {
            background-color: white;
        }
    }
}

.content {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    .caret{
        position: absolute;
        display: block;
        bottom: -24rem;
        width: 80rem;
        height: 20rem;
        background-color: var(--panelColorNormal);
        backdrop-filter: var(--panelBlur);
        mask-image: url(coui://gameui/Media/Misc/BalloonArrowBottom.svg#1);
        mask-size: 100% 80rem;
        mask-position: 50% 95%;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translate(0rem, 10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0rem, 0rem);
    }
}