@use "../../base.scss" as _base;

.viewContainer {
  position: absolute;
  width: 320rem;
  bottom: 240rem;
  padding: 10rem;
  background-color: rgba(255, 255, 255, 0.0);
  transform: translateX(-160rem);
  pointer-events: auto;
}

.view {
  width: 100%;  
  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  color: var(--textColorDim);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
  padding-bottom: 10rem;

  display: flex;
  flex-direction: column;
  transform-origin: bottom center;

  //animation: enter 0.2s;
  color: rgba($color: #fff, $alpha: 1);  
}

.topBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--panelColorDark);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.deleteButton,
.copyButton {
  margin-left: 5rem;
  width: 32rem;
  height: 32rem;
  padding: 4rem;

  img {
    background-color: #fff;
    mask-size: contain;
    mask-position: 50% 50%;
    width: 24rem;
    height: 24rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.copyButton img {
  width: 22rem;
  height: 22rem;
  margin-top: 1rem;
  mask-image: url(coui://gameui/Media/Glyphs/Copy.svg);
}

.deleteButton img {
  mask-image: url(coui://gameui/Media/Glyphs/Trash.svg);
}

.copyButton:hover img {
  background-color: var(--selectedColor-active);
}

.deleteButton:hover img {
  background-color: var(--animation-curve-active-n1-stroke);
}

.title {
  margin: 5rem;
  margin-left: 12rem;
  coh-font-fit-mode: shrink;
  height: 22rem;
  flex: 1;
}

.content {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;

  .options {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
  }

  .caret {
    position: absolute;
    bottom: -30rem;
    width: 80rem;
    height: 20rem;
    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    mask-image: url(coui://gameui/Media/Misc/BalloonArrowBottom.svg#1);
    mask-size: 100% 80rem;
    mask-position: 50% 95%;
  }  
}

.hoverDetector {
  position: absolute;
  width: _base.$laneButtonSize;
  height: 80rem;
  bottom: -80rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translate(0rem, 10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
}
