@use "../base.scss" as _base;

.panel {
  position: absolute;
  left: 10rem;
  width: 310rem;
  padding: 10rem 0;
  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  color: var(--textColorDim);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
  pointer-events: auto;

  &.game {
    bottom: 10rem + _base.$bottomBarOffset + _base.$bottomBarHeight;
  }

  &.editor {
    bottom: 10rem + _base.$bottomBarOffsetEditor + _base.$bottomBarHeight;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 12rem 6rem 12rem;
}

.title {
  color: var(--accentColorNormal);
  text-transform: uppercase;
  font-size: 13rem;
}

.roadWidth {
  color: var(--menuText1Normal);
  text-align: center;
  font-size: 14rem;
}

.textInput {
  width: 200rem;
}
