@use "../../base.scss" as base;

.container {
  position: relative;
  z-index: 5;
  width: 2rem;
  height: base.$bottomViewHeight - base.$bottomBarHeight;
  margin-bottom: 82rem;
  transform: scale(1);
  transition: width 0.2s, opacity 0.2s, transform 0.2s;
  display: flex;
  justify-content: center;

  &.highlighted {
    width: 40rem;
  }

  .divider {
    position: absolute;
    height: 200rem;
    bottom: -100rem;    
    width: 80rem;        
    // background-color: rgba($color: #fff, $alpha: 0.35);
    transition: background-color 0.2s;
    border-radius: 2rem;
    &:hover, &.highlighted {
      // background-color: var(--accentColorNormal-hover);
    }
  }

  &.hidden {
    width: 0rem;
    transform: scale(0, 1);
    opacity: 0;

    .divider {
      position: inherit;
    }
  }
}
