.container {
    position: relative;
    width: 64rem;
    height: 110rem;
    margin-bottom: 82rem;
    transform: scale(1);
    transition: width 0.2s, opacity 0.2s, transform 0.2s;   
    display: flex;
    justify-content: center; 

    .divider {
        height: 110%;
        margin-top: -20%;
        width: 4rem;
        background-color: rgba($color: #fff, $alpha: 0.35);                    
        transition: background-color 0.2s;    
        border-radius: 2rem;
    }

    &:hover, &.highlighted {
        width: 84rem;     

        .divider {
            background-color: var(--accentColorNormal-hover);
        }        
    }
    
    &.hidden {        
        width: 0rem;
        transform: scale(0, 1);
        opacity: 0;

        .divider {
            position: inherit;
        }
    }

}
