@use "../../base.scss" as _base;

$height: _base.$bottomBarHeight + 18rem;

.area {
  position: absolute;
  width: calc(100vw - 10rem);
  z-index: 2;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.15s;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.game {
    bottom: -1 * $height;
    height: $height - 4rem;
    backdrop-filter: blur(24rem);
  }

  &.editor {
    bottom: -1 * $height - 22rem;
    height: $height + 22rem;
  }
}

.target {
  padding: 8rem 50rem;
  width: 50%;
  height: 80%;
  text-align: center;
  border: 2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 4rem;
  color: var(--normalTextColor);
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  transition: border-width 0.25s, border-color 0.25s;

  transition: background-color 0.15s;
  img {
    filter: invert(1);
    height: 40rem;
    transition: height 0.25s;
  }

  &:hover {
    background-color: rgba(217, 70, 70, 0.2);
    border: none;

    img {
      height: 50rem;
    }
  }
}

.area.editor .target {
  border-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(239, 64, 64, 0.2);
    border: none;
  }
}
