@use "../base.scss" as _base;

.panel {
  position: absolute;
  width: 320rem;
  top: 150rem;
  bottom: 10rem + _base.$bottomBarOffset + _base.$bottomBarHeight;
  right: 10rem;
  z-index: 0;

  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);

  pointer-events: auto;

  overflow: hidden;

  animation: entry 0.2s;

  .list {
    margin: 6rem;
  }

  .list > :first-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

.header {
  background-color: var(--panelColorDark);
  padding: 6rem;
}

.title {
  color: var(--accentColorDark);
  text-transform: uppercase;
  text-align: center;
  font-size: 12rem;
  margin-bottom: 6rem;
}

@keyframes entry {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
