.panel {
  position: absolute;
  width: 320rem;
  top: 80rem;
  bottom: 300rem;
  right: 65rem;
  z-index: 0;

  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);

  pointer-events: auto;

  padding: 6rem;
  overflow: hidden;

  animation: entry 0.2s;

  .list > :first-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

@keyframes entry {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
