.view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  // background: rgba(#000,0.2);
}

.pickerHint {
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: 250rem;

  padding: 8rem;
  border-radius: 6rem;

  background-color: var(--accentColorDark-hover);
  backdrop-filter: blur(3px);
  opacity: 0.9;
  color: var(--normalTextColor);

  text-transform: uppercase;

  transition: opacity 0.2s;
  pointer-events: none;

  &:hover {
    opacity: 0.2;
  }

  img {
    width: 24rem;
    height: 24rem;
    margin-right: 6rem;
  }

  & > span {
    display: flex;
    justify-content: center;
  }
}
