.viewContainer {
    position: absolute;    
    left: 20%;
    right: 20%;
    // The Vanilla Prefab Picker width => calc( var(--assetMenuColumns) * ( var(--assetMenuItemSize) + var(--assetMenuItemGap) ) - var(--assetMenuItemGap) + 40rem);
    height: auto;//120rem;    
    bottom: 121rem;
    z-index: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;   
    align-items: flex-end;         
    
    animation: entry 0.2s;
}

.view {
    position: relative;
    min-width: 20%;
    height: auto;
    padding: 24rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;   
    align-items: flex-end;     

    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 60.0%, rgba(255, 255, 255, 0.3) 100%);        
    pointer-events: auto;
}

.closeButton {
    position: absolute;
    right: 0;
    top: -28rem;
    border-radius: 50%;
    width: 24rem;
    height: 24rem;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;

    img {
        filter: invert(1);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.hint {
    position: absolute;
    font-size: var(--fontSizeXL);
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;    
    // backdrop-filter: blur(3px);
    color: var(--normalTextColor);

    animation: hintEntry 0.2s;
}

@keyframes hintEntry {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes entry {
    0% {
        opacity: 0;
        bottom: 100rem;
        z-index: -100;
    }    
    100% {
        opacity: 1;
    }
}