@use "../base.scss" as _base;

.panel {
  position: absolute;
  width: 330rem;
  top: 60rem;
  right: 10rem;
  z-index: 0;
  display: flex;
  flex-direction: column;

  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  border-radius: 6rem;

  pointer-events: auto;

  overflow: hidden;

  animation: entry 0.2s;

  &.expanded {
    width: 370rem;
  }

  .list {
    margin: 6rem;
    flex: 1;

    & > div {
      margin-right: 6rem;
    }

    &.roads > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &.game {
    bottom: 10rem + _base.$bottomBarOffset + _base.$bottomBarHeight;

    &.expanded {
      bottom: 10rem + _base.$bottomBarOffset;
    }
  }

  &.editor {
    bottom: 10rem + _base.$bottomBarOffsetEditor + _base.$bottomBarHeight;
  }

  &.fpsLevel1 {
    top: 80rem;
  }

  &.fpsLevel2 {
    top: 150rem;
  }

  &.fpsLevel3 {
    top: 160rem;
  }
}

.manageRoadsButton {
  width: 100%;
  padding: 5rem 10rem 10rem 10rem;

  Button {
    @include _base.basicButton();

    height: 38rem;
    font-size: 16rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--menuPanel2);

    &:hover {
      background-color: rgba(0, 0, 0, 0.45);
    }
  }
}

.header {
  background-color: var(--panelColorDark);
  padding: 6rem;
  border-bottom-style: solid;
  border-bottom-width: var(--stroke2);
  border-bottom-color: var(--accentColorDark);
}

.subHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.title {
  color: var(--accentColorNormal);
  text-transform: uppercase;
  font-size: 13rem;
}

.roadCount {
  color: var(--menuText1Normal);
  text-align: center;
  font-size: 14rem;
}

.mode {
  display: flex;

  > div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--textColorDim);
    border-radius: 4rem;
    padding: 2rem;
    margin: 4rem 8rem 8rem 8rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 14rem;
    transition: background-color 0.25s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  .selected {
    background-color: var(--accentColorDark) !important;
  }
}

.categories {
  display: flex;
  margin-top: 6rem;

  Button {
    @include _base.basicButton();

    flex: 1;
    //border-radius: 0;
    width: 32rem;
    height: 32rem;
    margin: 1rem;
    backdrop-filter: none;
    background-color: transparent;

    img {
      width: 22rem;
      height: 22rem;
      background: inherit;
      margin: 0;
    }

    &.selected {
      background-color: var(--accentColorDark) !important;
    }
  }
}

@keyframes entry {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
