@use "../base.scss" as _base;

.panel {
  position: absolute;
  width: 330rem;
  top: 100rem;
  right: 10rem;
  z-index: 0;
  display: flex;
  flex-direction: column;

  background-color: var(--panelColorNormal);
  backdrop-filter: var(--panelBlur);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);

  pointer-events: auto;

  overflow: hidden;

  animation: entry 0.2s;

  .list {
    margin: 6rem;
    flex: 1;
  }

  .list > :first-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &.game {
    bottom: 10rem + _base.$bottomBarOffset + _base.$bottomBarHeight;
  }

  &.editor {
    bottom: 10rem + _base.$bottomBarOffsetEditor + _base.$bottomBarHeight;
  }
}

.header {
  background-color: var(--panelColorDark);
  padding: 6rem;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.title {
  color: var(--accentColorNormal);
  text-transform: uppercase;
  font-size: 13rem;
}

.roadCount {
  color: var(--menuText1Normal);
  text-align: center;
  font-size: 14rem;
}

.mode {
  display: flex;

  > div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--textColorDim);
    border-radius: 4rem;
    padding: 2rem;
    margin: 4rem 8rem 8rem 8rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 14rem;
    transition: background-color 0.25s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  .selected {
    background-color: var(--accentColorDark) !important;
  }
}

@keyframes entry {
  0% {
    right: -10rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
