.container {
  margin: 0 4rem 8rem 4rem;
  width: 89rem;
  height: 110rem;

  &.moving {
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 4rem;
  }
}

@keyframes startDrag-item {
  0% {
    height: 160rem;
  }
  100% {
    height: 100rem;
  }
}
@keyframes startDrag-label {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1, 0);
    opacity: 0;
  }
}

.item {
  padding: 4rem;
  background-color: rgba($color: #ffffff, $alpha: 0.15);
  width: auto;
  height: 110rem;
  border-radius: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transform: scale(1);

  transition: width 0.25s, height 0.25s, box-shadow 0.25s, transform 0.25s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4rem 5rem 2rem rgba($color: #000000, $alpha: 0.3);
  }

  &.moving {
    display: none;
  }

  &.dragRepresentation {
    position: absolute;
    height: auto;
    background: none;
    .label {
      transform: scale(1, 0);
      animation: startDrag-label 0.2s;
    }
    animation: startDrag-item 0.2s;

    &.bottomRow {
      animation: none;
      background: none;
      .label {
        transform: scale(1, 0);
      }
    }
  }
}

.image {
  width: 50rem;
  height: 50rem;
  padding: 4rem;
  border-radius: 4rem;
}

.label {
  color: var(--normalTextColor);
  margin-top: 4rem;
  width: 80rem;
  font-size: 12rem;
  height: 2lh;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;

  transform-origin: top center;

  transition: transform 0.25s;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
