.gridItem {
  margin: 4rem !important;
  width: 94rem;
  height: 94rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &.moving {
    background: rgba(0, 0, 0, 0.25);
  }

  &.dragged {
    background: none;
    width: 80rem;
    height: 80rem;
    position: absolute;

    &.bottomRow {
      animation: none;
      background: none;
      .label {
        transform: scale(1, 0);
      }
    }
  }
}

.gridThumbnail {
  width: 75% !important;
  height: 75% !important;
  transition: width 0.25s, height 0.25s;
}

.gridItem:hover .gridThumbnail,
.gridItem.dragged .gridThumbnail {
  width: 95% !important;
  height: 95% !important;
}

.gridItem.moving .gridThumbnail {
  width: 65% !important;
  height: 65% !important;
}

.jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.gridItemText {
  width: 95%;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
  bottom: 2.5rem;
  font-size: 13rem;
  padding: 3rem;
  white-space: normal;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.6);
  backdrop-filter: var(--panelBlur);
  color: var(--textColorDim);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top-left-radius: var(--panelRadius);
  border-top-right-radius: var(--panelRadius);
}

.gridItem:hover .gridItemText,
.gridItem.moving .gridItemText {
  opacity: 0;
}

.rightSideContainer {
  position: absolute;
  top: 0.15em;
  right: 0.15em;
  display: flex;
  flex-direction: column;
}

.rightSideContainer > img {
  width: 1.15em;
  height: 1.15em;
  margin-bottom: 0.375em;
  filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5));
}

.gridItemText p {
  text-align: center;
}
