@use "../base.scss" as _base;

.pagination {
  width: 100%;
  padding: 16rem;

  animation: entry 0.2s;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 6rem;

    Button {
      @include _base.basicButton(false);

      width: 48rem;
      height: 48rem;

      &.arrow {
        background-color: var(--accentColorDarker);

        &:hover {
          background-color: var(--panelColorDark);
        }
      }
    }

    .dots {
      width: 48rem;
      height: 48rem;
    }
  }
}

@keyframes entry {
  0% {
    transform: translateY(50rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
