@use "../../base.scss";

@mixin entry_animation($identifier, $deltaX, $deltaY) {
  @keyframes entry-#{$identifier} {
    from {
      opacity: 0;
      transform: translate($deltaX, $deltaY);
      pointer-events: none;
    }
  }
  animation: 0.2s entry-#{$identifier} backwards;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.relContainer {
  position: relative;
  width: auto;
  height: auto;
  pointer-events: auto;
}

.button {
  @include base.basicButton();

  position: absolute;
  width: 220rem;
  height: 40rem;
  font-size: 16rem;
  text-transform: uppercase;
  font-style: bold;

  &.hidden {
    display: none;
  }
  img {
    width: 30rem;
    height: 30rem;
    margin-right: 10rem;
  }
}
.pickerButton {
  transform: translate(-290rem, -20rem);
  @include entry_animation(template, -100rem, 0rem);
  filter: saturate(0.5);

  img {
    mask-image: url(coui://roadbuildericons/RB_PlaceMore.svg);
  }
}
.templateButton {
  transform: translate(80rem, -20rem);
  @include entry_animation(create, -100rem, -20rem);
  filter: saturate(0.5);

  img {
    mask-image: url(coui://roadbuildericons/RB_UseTemplate.svg);
  }
}
.editButton {
  background-color: var(--accentColorDark-hover);
  transform: translate(-110rem, -100rem);
  @include entry_animation(template, -100rem, 0rem);

  &:hover {
    background-color: var(--accentColorDark);
  }

  img {
    mask-image: url(coui://roadbuildericons/RB_EditAll.svg);
  }
}

.cancelButton {
  background-color: var(--menuPanel2);
  transform: translate(-50rem, 60rem);
  @include entry_animation(cancel, -50rem, 0rem);
  width: 100rem;
  font-weight: inherit;
}
