.container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: auto;
}

.relContainer {
  position: relative;
  width: auto;
  height: auto;  
}

.button {
  position: absolute;
  width: 200rem;
  height: auto;
  padding: 8rem;
  background-color: #d9d9d9b5;
  backdrop-filter: blur(4px);
  text-align: center;
  color: black;
  border-radius: 4rem;
}
.templateButton {
  top: -80rem;
  left: -100rem;  
}
.createButton {
  top: 0;
  left: 100rem;
}
.cancelButton {
  bottom: -100rem;
  left: -50rem;
  width: 100rem;
}