.toggle {
  background-color: var(--accentColorNormal);
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--accentColorNormal-hover);
  }

  &:active {
    background-color: var(--accentColorNormal-pressed);
  }

  &.selected {
    background-color: white;

    img {
      background-color: var(--accentColorNormal);
    }
  }
  img {
    width: 100%;
    height: 100%;
    background-color: white;
    mask-size: contain;
    mask-position: 50% 50%;
    transition: background-color 0.15s;
  }
}

.toolInfo {
  z-index: 1;
  background-color: white;
}

.toolModes {
  background-color: white;
}
