.sortIcon {
  height: 2.5em;
  width: 2.5em;
  padding: 0.5rem;
  background: none;
}

.sortIcon img {
  height: 1.5em;
  width: 1.5em;
}

.optionRow {
  overflow-x: hidden;
  overflow-y: hidden;
}

.optionSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 12rem;
  justify-content: space-between;
}

.optionLabel {
  max-height: 26rem;
  margin-right: 15rem;
  font-size: var(--fontSizeM);
}

.optionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
}

.optionContent > .singleButton {
  margin: 2rem !important;
  width: 32rem;
  height: 32rem;
}

.selected {
  background-color: var(--accentColorNormal) !important;
}

.disabled {
  opacity: 0.35;
}

.optionContent > .singleButton > img {
  width: 26rem;
  height: 26rem;
}
