@use "../../base.scss" as _base;

.sortIcon {
  height: 2.5em;
  width: 2.5em;
  padding: 0.5rem;
  background: none;
}

.sortIcon img {
  height: 1.5em;
  width: 1.5em;
}

.optionRow {
  overflow-x: hidden;
  overflow-y: hidden;
}

.optionSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 12rem;
  justify-content: space-between;
}

.optionLabel {
  max-width: 50%;
  margin-right: 15rem;
  font-size: var(--fontSizeM);
  coh-font-fit-mode: shrink;
}

.optionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
}

.optionContent > .singleButton {
  margin: 2rem !important;
}

.optionContent button {
  width: 32rem;
  height: 32rem;
}

.numberField {
  width: 75rem;
  height: 32rem;
}

.selected {
  background-color: var(--accentColorNormal) !important;
}

.disabled {
  opacity: 0.35;
}

.optionContent > .singleButton > img {
  width: 26rem;
  height: 26rem;
}

.optionContent.toggleOption > button {
  width: 36rem;
  border-radius: 0 !important;
  margin: 2rem 0 !important;
  border-left: solid 1rem rgba(255, 255, 255, 0.5);
  border-right: solid 1rem rgba(255, 255, 255, 0.5);

  &:last-child {
    width: 52rem;
    border-top-right-radius: 4rem !important;
    border-bottom-right-radius: 4rem !important;
    margin-right: 2rem !important;
    border: none;
  }

  &:first-child {
    width: 52rem;
    border-top-left-radius: 4rem !important;
    border-bottom-left-radius: 4rem !important;
    margin-left: 2rem !important;
    border: none;
  }
}

.optionContent.buttonOption > button {
  @include _base.blackButton();

  width: auto;
  font-size: 16rem;

  img {
    width: 24rem;
    height: 24rem;
    margin-right: 6rem;
  }
}
