@use "../../base.scss";

.gridItem {
  margin: 4rem;
  width: 295rem;
  height: 95rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.active {
    background-color: var(--accentColorDark) !important;
  }

  &:hover .itemInfo {
    height: 65rem;
  }

  &:hover .gridThumbnail {
    height: 55rem;
  }
}

.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95rem;
  transition: height 0.15s;
}

.gridThumbnail {
  width: 75rem;
  height: 75rem;
  margin: 4rem;
  transition: width 0.15s, height 0.15s;
}

.gridItemText {
  flex: 1;
  font-size: 14rem;
  padding: 3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--normalTextColor);
}

.jpgThumb {
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gridItem:hover .buttons {
  opacity: 1;
}

.buttons Button {
  @include base.basicButton();

  flex: 1;
  border-radius: 0;
  padding: 4rem;
  backdrop-filter: none;
  background: none;

  &:hover {
    background-color: var(--hoverColorBright);
  }

  img {
    width: 1.2em;
    height: 1.2em;
  }
}
