$bottomBarHeight: 48rem;
$bottomViewHeight: 108rem;
$bottomBarOffset: 121rem;

$laneButtonSize: 64rem;

@mixin textInputBasic {
  background-color: rgba(0, 0, 0, 0.15);
  color: #eee;
  padding: 0.25em 0.5em;
  line-height: 1.15em;
  font-size: 1em;
  border-width: 2.5rem;
  border-radius: 5rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active,
  &:focus,
  &.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-color: var(--accentColorLight);
    border-left-color: var(--accentColorLight);
    border-bottom-color: var(--accentColorLight);
    border-right-color: var(--accentColorLight);
  }

  &.focused {
    border-color: #c7ff65;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.15);
    color: rgba(128, 128, 128, 0.5);
  }
}

@mixin basicLightButton($hasImage: false) {
  border-radius: 50%;
  padding: 4rem;
  color: var(--normalTextColor);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border: none;

  @if $hasImage {
    img {
      filter: invert(1);
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  &:active {
    background: rgba(255, 255, 255, 0.5);
  }
}

@mixin basicButton() {
  padding: 8rem;
  border-radius: 4rem;
  backdrop-filter: blur(4px);
  border: none;
  transition: background-color 0.15s, color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--panelColorDark);
  color: var(--menuText1Normal);
  opacity: 1;
  filter: brightness(1.1) saturate(0.8);

  &.hidden {
    display: none;
  }
  &:hover {
    background-color: var(--panelColorNormal);
  }
  &:active {
    background-image: none !important;
    background-color: var(--accentColorDark-focused) !important;
  }
  img {
    width: 30rem;
    height: 30rem;
    margin-right: 10rem;
    background-color: var(--menuText1Normal);
    mask-size: contain;
    mask-position: 50% 50%;
  }
}
